@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Lora&family=Montserrat:wght@700&display=swap");

/* 
https://coolors.co/palette/10002b-240046-3c096c-5a189a-7b2cbf-9d4edd-c77dff-e0aaff
*/

:root {
  --hind: "Hind Madurai", sans-serif;
  --lora: "Lora", serif;
  --mont: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: var(--mont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #240046;
}

.App {
  text-align: center;
}
